header{
    display: flex;
    /* background-color: rgb(205, 152, 5); */
    height: 13vh;
    justify-content: space-between;
}
.logo{
    padding: .5rem 2rem;
    width: 10%;
    /* background-color: gray; */
}
.logo img{
    width: 100%;
    transition: .5s;
}

.logo img:hover{
    transform:translateY(1px);
    cursor: pointer;
}
header nav{
    display: flex;
    
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50vw;
    font-size: 2rem;
}

nav ul li a{
    color: black;
}

a:hover{
    transform: scale(1.1);
}